.product__img img {
  object-fit: fill;
  width: 350px;
  height: 270px;
  background-position: center;
}

.product {
  width: 350px;

  padding: 15px;
  box-shadow: 2px 4px 3px rgb(141, 137, 137), 2px 5px 3px rgb(141, 137, 137),
    -2px -4px 3px rgb(141, 137, 137);
}
.product a {
  margin-top: 10px;
  margin-bottom: 7px;
}
